---
layout: default
title: Blog
---

article.alpha.post
  header.post-header
    h1.text-center Posts
  ul.posts
    {% for post in site.posts limit:5 %}
      li
        a href="{{ post.url }}"
          h3.post-preview-title
            | {{ post.title }}
        span.post-preview-body
          | {{ post.excerpt }}
    {% endfor %}
