$grayScaleFilter: 90%;
$bgColor: hsl(0, 0%, 90%);
$cardColor: #FFFFFF;

$bannerBlue: #2764BD;
$fontFamily: "Arial Black", "Arial", "Helvetica", sans-serif;
$avatarYOffset: -95px;

/** Mixins **/
@mixin box-shadow($params) {
	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
	-ms-box-shadow: $params;
	box-shadow: $params
}

@mixin transition($params) {
	-webkit-transition: $params;
	-moz-transition: $params;
	-ms-transition: $params;
	transition: $params;
}

@mixin filter($params) {
	-webkit-filter: $params;
	-moz-filter: $params;
	-ms-filter: $params;
	filter: $params;
}

body {
	background: $bgColor;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $fontFamily;
	font-weight: bold;
	margin: 0;
}

p {
	font-family: "Palatino Linotype", "Arial", "Helvetica", sans-serif;
	word-break: break-word;
}

a {
	@extend a;
	text-decoration: none;
	color: $bannerBlue;

	&:hover {
		text-decoration: underline;
	}
}

h4 {
	font-size: 15px;
}

/** General classes */
.right {
	float: right;
}

.left {
	float: left;
}

.text-center {
	text-align: center;
}

.bold {
	font-weight: bold;
}


/** Main card body element **/
.card {
	@include box-shadow(0px 0px 1px 0px rgba(0,0,0,0.20));

	padding: 0;
	width: 380px;
	margin: 25px auto;
	border: 1px solid hsl(0, 0, 25%);
	border-radius: 2px;
	background: $cardColor;
}

.card-body {
	@include transition(all ease-in 0.4s);

	margin: 12px;
	overflow: hidden;
	max-height: 1000px;
}

.banner {
	height: 90px;

	background: $bannerBlue;
	padding: 0;
	margin: 0;

	border-top-left-radius: 2px;
	border-top-right-radius: 2px;

	border-bottom: 1px solid hsl(0, 0, 25%);
}

.banner-title {
	color: $cardColor;
	margin-right: 10px;
	margin-top: 25px;
	font-size: 30px;
}


.avatar {
	width: 140px;
	margin-left: 10px;
	display: block;
	position: absolute;
	top: $avatarYOffset;
}

.clear:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.relative-container {
	position: relative;
}

.location {
	line-height: 20px;
	vertical-align: top;
	font-family: $fontFamily;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px;
	margin-right: 10px;
}

.footer {
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo {
	@include filter(grayscale($grayScaleFilter));
	@include transition(padding ease-in 0.1s);

	float: left;
	display: block;
	width: 64px;
	height: 54px;
	padding-top: 5px;
	margin-left: 84px;

	background: url('icons.png');
	background-repeat: no-repeat;
	background-origin: content-box;

	&:first-child {
		margin-left: 10px;
	}

	&:hover {
		padding-top: 0px;
		-webkit-filter: none;
		-moz-filter: none;
		-ms-filter: none;
		filter: none;
	}

	&.twitter {
		background-position: 0px 0px;
	}

	&.github {
		background-position: -109px 0px;
	}

	&.linkedin {
		background-position: -218px 0px;
	}
}


/** Expander **/
#expander {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#expander-label {
	display: block;
	text-align: center;
	cursor: pointer;
}

#expander-label:after {
	font-family: $fontFamily;
	font-weight: bold;
	font-size: 15px;
}

#expander:checked ~ #expander-label:after {
	content: "More";
	position: relative;
}

#expander ~ #expander-label:after {
	content: "Less";
}

#expander:checked ~ .card-body {
	margin-top: 0px;
	margin-bottom: 0px;
	max-height: 0px;
}