$grayScaleFilter: 90%;

body {
	background: #191919;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arial Black", "Arial", "Helvetica", sans-serif;
	font-weight: bold;
}

h4 {
	font-size: 15px;
}

.card {
	border-radius: 2px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;

	-moz-box-shadow:    0px 0px 1px 0px rgba(0,0,0,0.20);
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);
	box-shadow:         0px 0px 1px 0px rgba(0,0,0,0.20);

	width: 320px;
	margin: 25px auto;

	.text-container {
		width: 228px;
		margin: 0 auto;
	}
}

.avatar {
	width: 140px;
	margin: 10 auto;
	display: block;
}

.footer:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.logo {
	float: left;
	display: block;
	width: 86px;
	height: 86px;
	padding-top: 5px;
	margin-left: 20px;
	-webkit-filter: grayscale($grayScaleFilter);
	-moz-filter: grayscale($grayScaleFilter);
	-ms-filter: grayscale($grayScaleFilter);
	filter: grayscale($grayScaleFilter);

	-webkit-transition: padding ease-in 0.1s;

	&:first-child {
		margin-left: 10px;
	}

	&:last-child {
	}

	&:hover {
		padding-top: 0px;
		-webkit-filter: none;
		-moz-filter: none;
		-ms-filter: none;
		filter: none;
	}
}