body {
  background: #e6e6e6; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Black", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  margin: 0; }

p {
  font-family: "Palatino Linotype", "Arial", "Helvetica", sans-serif;
  word-break: break-word; }

a {
  text-decoration: none;
  color: #2764bd; }
  a:hover {
    text-decoration: underline; }

h4 {
  font-size: 15px; }

.right {
  float: right; }

.left {
  float: left; }

.card {
  padding: 0;
  border-radius: 2px;
  background: white;
  border: 1px solid #404040;
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  width: 380px;
  margin: 25px auto; }

.card-body {
  margin: 12px;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
  overflow: hidden;
  max-height: 1000px; }
  .card-body.closed {
    margin-top: 0px;
    margin-bottom: 0px;
    max-height: 0px; }

#expander {
  position: absolute;
  top: -9999px;
  left: -9999px; }

#expander-label {
  display: block;
  text-align: center;
  cursor: pointer; }

#expander-label:after {
  font-family: "Arial Black", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 15px; }

#expander:checked ~ #expander-label:after {
  content: "More";
  position: relative; }

#expander ~ #expander-label:after {
  content: "Less"; }

#expander:checked ~ .card-body {
  margin-top: 0px;
  margin-bottom: 0px;
  max-height: 0px; }

.banner {
  height: 90px;
  background: #2764bd;
  padding: 0;
  margin: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid #404040; }

.banner-title {
  color: white;
  margin-right: 10px;
  margin-top: 25px;
  font-size: 30px; }

.text-center {
  text-align: center; }

.bold {
  font-weight: bold; }

.flip {
  -webkit-transform: skewY(90deg); }

.avatar {
  width: 140px;
  margin-left: 10px;
  display: block;
  position: absolute;
  top: -95px; }

.clear:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.relative-container {
  position: relative; }

.location {
  line-height: 20px;
  vertical-align: top;
  font-family: "Arial Black", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 10px; }

.footer {
  margin-top: 10px;
  margin-bottom: 10px; }

.logo {
  float: left;
  display: block;
  width: 64px;
  height: 54px;
  padding-top: 5px;
  margin-left: 84px;
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(90%);
  -ms-filter: grayscale(90%);
  filter: grayscale(90%);
  -webkit-transition: padding ease-in 0.1s;
  -moz-transition: padding ease-in 0.1s;
  -ms-transition: padding ease-in 0.1s;
  transition: padding ease-in 0.1s;
  background: url("icons.png");
  background-repeat: no-repeat;
  background-origin: content-box; }
  .logo:first-child {
    margin-left: 10px; }
  .logo:last-child {
    float: right;
    margin-right: 10px; }
  .logo:hover {
    padding-top: 0px;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none; }
  .logo.twitter {
    background-position: 0px 0px; }
  .logo.github {
    background-position: -109px 0px; }
  .logo.linkedin {
    background-position: -218px 0px; }
