$border-color: rgb(120, 120, 120);
$border-color-light: lighten($border-color, 25%);
$separator-color: #545454;

$header-font: "GillSans-Light", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$text-font-mobile: "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-font-computer: Palatino Linotype,Palatino,Palatino LT STD,Book Antiqua,Georgia,serif;
$monospace-font-family: Consolas, "Lucida Console", monospace;

$section-spacing-vertical: 10vh;

$social-size: 45px;

$wrapper-size: 35rem;


$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-base: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

// Light
$light-background-color: #FEFEFE;
$light-text-color: #0A020F;
$light-text-low-contrast-color: #545157;
$light-highlight-color: #9226EA;
$light-link-color: $light-highlight-color;
$light-link-hover-color: darken($light-link-color, 15%);
$light-code-background-color: rgba(0, 0, 0, 0.1);
$light-code-border-color: rgba(0, 0, 0, 0.15);
$light-heading-anchor-filter: invert(0%);


// Dark
$dark-background-color: #0A020F;
$dark-text-color: rgba(255, 255, 255, 0.92);
$dark-text-low-contrast-color: #999999;
$dark-highlight-color: #11A8CA;
$dark-link-color: $dark-highlight-color;
$dark-link-hover-color: lighten($dark-link-color, 10%);
$dark-code-background-color: rgba(255, 255, 255, 0.1);
$dark-code-border-color: rgba(255, 255, 255, 0.15);
$dark-heading-anchor-filter: invert(100%);

// Defualt
$default-background-color: $light-background-color;
$default-text-color: $light-text-color;
$default-text-low-contrast-color: $light-text-color;
$default-highlight-color: $light-highlight-color;
$default-link-color: $light-link-color;
$default-link-hover-color: $light-link-hover-color;
$default-code-background-color: $light-code-background-color;
$default-code-border-color: $light-code-border-color;
$default-heading-anchor-filter: $light-heading-anchor-filter;
