/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import variables
@import social-links

@import compass/reset
@import compass/utilities/general/clearfix
@import compass/css3/box-sizing
@import compass/css3/border-radius

*
  +box-sizing(border-box)

html
  font-size: 18px

body
  background: $background_color


// --- Layout ---
article
  border-bottom: 1px solid $border_color_light
  margin-bottom: $section_spacing_vertical / 2
  margin-top: $section_spacing_vertical / 2
  margin: 0 auto
  padding: $section_spacing_horizontal

.wrapper
  width: $wrapper-size

.nav
  padding: 10px

  & > li
    float: left
    margin-left: 12px

.nav-link
  font-family: $header_font
  font-weight: 50
  text-transform: uppercase
  font-size: 1.2rem
  font-weight: 100
  color: $low_contrast_text_color

.post
  margin-top: 25px

.post-header
  margin-bottom: 25px
  border-bottom: 1px solid #b8b8b8

  .post-title
    margin-bottom: 10px

.post-body
  margin-top: 10px
  margin-bottom: 10px

.post-date
  color: $highlight_color
  margin-left: 5px

.post-preview-title
  color: $text_color

.post-preview-body
  color: $border_color

.avatar
  width: 200px
  height: 200px
  border-radius: 10px
  margin-right: 8px

footer
  margin-top: 50px

  section
    border: none

ul.posts
  margin-top: 15px
  width: 100%

  li
    +box-sizing(border-box)
    margin-bottom: 15px
    width: 100%

// ----------------
// Typography
// ----------------
p
  font-family: $text_font
  margin: 10px 0
  font-size: 1rem

code
  font-family: $monospace_font_family
  font-size: 0.6em
  line-height: 1em
  background: darken($background_color, 4%)
  padding-left: 2px
  padding-right: 2px
  +border-radius(2px)
  border: 1px solid darken($background_color, 8%)
  -webkit-font-smoothing: subpixel-antialiased
  white-space: nowrap

strong
  font-weight: bold

blockquote
  padding-left: 10px
  padding-top: 2px
  padding-bottom: 2px
  border-left: 5px solid $highlight_color
  background: darken($background_color, 3%)
  color: $text_color

a
  color: $highlight_color
  text-decoration: none

  &:hover
    color: lighten($highlight_color, 15%)

h1, h2, h3, h4, h5, h6
  font-family: $header_font
  margin-top: 0.3em
  margin-bottom: 0.3em
  line-height: 1.05em

@for $i from 1 through 6
  h#{$i}
    font-size: 3rem - $i * 0.3rem

h1, h2
  font-weight: bold

h3, h4
  font-weight: normal

h5, h6
  font-weight: 100

.text-center
  text-align: center

.sans-serif
  font-family: $header_font

.serif
  font-family: $text_font

// ------------
// Utility
// ------------
.clearfix
  +clearfix

.center
  margin: 0 auto

.left
  float: left

.right
  float: right

.gray
  color: $border_color

.low-contrast
  color: $low_contrast_text_color

div.gist-meta
  display: none

div.file-data
  background: #FFF