---
layout: default
---
article.alpha.post
  header.post-header
    h1.post-title.text-center
      | {{page.title}}
    h5.text-center.low-contrast
      | Posted on
      span.post-date
        | {{page.date | date_to_string }}

  .post-body
    | {{content}}